.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    & li:last-child {
            margin-right: 0;
        }
}

.filter-list__btn {
    margin-right: 8px;
}



.btn-filter {
    padding: 6px 22px;
    background-color: var(--tree-background-color);
    color: var(--title-text-color);
    font-family: inherit;
    @include text-parameters(500, 16px, 1.62, 0.03em);
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
     &:hover,
     &:focus {
        background-color: var(--accent-color);
        color: var(--one-background-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

}


