.logo {
    margin-right: 93px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
    // моб вер
    padding-top: 16px;
    padding-bottom: 16px;
}

.accent {
    color: var(--title-text-color);
}